<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mustache Page</title>
  </head>
  <body>
    <h3>
      {{name}}은 이름이다. <br />
      나이는 {{age}} <br />
      {{#person}}
      <p>나는 닝겐</p>
      {{/person}} {{^person}}
      <p>新 しん 世 せ 界 かい の 神 かみ (신세카이노 카미)</p>
      {{/person}}
      <br />
      <p>{{company}}에서 일하는중</p>
      <br />
      <p>{{{company}}}</p>
      <p>씹덕력 abundant</p>
    </h3>
  </body>
</html>
